.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header_title {
  font-family: "Roboto Mono", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #373e40;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.nav_link {
  font-family: "Figtree", sans-serif;
  color: #373e40;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.intro {
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  background-color: #b7d5d4;
}

.text-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.text-half_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1rem;
}
.text-half_heading {
  font-family: "Roboto Mono", sans-serif;
  font-size: 2.5rem;
}
.text-half_subheading {
  font-size: 2rem;
  font-family: "Figtree", sans-serif;
}
.text-half_bio {
  font-size: 1.25rem;
  font-family: "Figtree", sans-serif;
}

.img-half {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-half_img {
  object-fit: cover;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  height: auto;
  border-radius: 50%;
}

.projects {
  background-color: #305267;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.projects-heading {
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  color: black;
}
.projects-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  padding: 1rem;
  font-family: "Figtree", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card__hover-container {
  position: relative;
  width: 100%;
}
.project-card__hover-container:hover .project-card_img {
  opacity: 0.15;
}
.project-card__hover-container:hover .project-card_backside {
  opacity: 1;
}
.project-card_image {
  height: auto;
  width: 100%;
  opacity: 1;
  backface-visibility: hidden;
  transition: 0.5s ease;
}
.project-card_backside {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.project-card_description {
  font-family: "Figtree", sans-serif;
  font-weight: bold;
}
.project-card_button {
  font-family: "Figtree", sans-serif;
  border: 4px solid #478887;
  background-color: #b7d5d4;
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
}
.project-card_title {
  font-family: "Figtree", sans-serif;
}
.project-card_icon {
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
}

.skills {
  background-color: #b7d5d4;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.skill-heading {
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skill {
  display: flex;
}
.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  flex-wrap: wrap;
  gap: 2rem;
}
.skill-title {
  font-family: "Figtree", sans-serif;
  font-size: 2rem;
}
.skill-icon {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
