@use '../variables/color' as clr;
@use '../variables/fonts' as fnt;

.header {
  // background-color: clr.$blue-light;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 2;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: white;
  &_title {
    font-family: fnt.$font-heading;
    font-size: 1.5rem;
    font-weight: 500;
    color: clr.$gray-dark;
    // font-style: italic;
  }
  &_hamburger {
    display: none;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  &_link {
    font-family: fnt.$font-text;
    color: clr.$gray-dark;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
  }
}
