@use '../variables/color' as clr;
@use '../variables/fonts' as fnt;

.projects {
  //   height: 100vh;
  background-color: clr.$blue-dark;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  //   z-index: 1;
  &-heading {
    font-family: fnt.$font-heading;
    text-align: center;
    color: black;
  }
  &-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.project-card {
  padding: 1rem;
  font-family: fnt.$font-text;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__hover-container {
    position: relative;
    width: 100%;
    &:hover {
      .project-card_img {
        opacity: 0.15;
      }
      .project-card_backside {
        opacity: 1;
      }
    }
  }
  &_image {
    height: auto;
    width: 100%;
    opacity: 1;
    backface-visibility: hidden;
    transition: 0.5s ease;
  }
  &_backside {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  &_description {
    font-family: fnt.$font-text;
    font-weight: bold;
  }
  &_button {
    font-family: fnt.$font-text;
    border: 4px solid clr.$blue-gray;
    background-color: clr.$blue-light;
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
  }
  &_title {
    font-family: fnt.$font-text;
  }
  &_icon {
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
  }
}
// .project__hover-container {
//   &_img {
//   }
//   &_backside {
//     &-heading {
//     }
//     &-button {
//     }
//   }
//   &:hover {
//     .project__hover-container_img {
//     }
//     .project__hover-container_backside {
//     }
//   }
// }
