@use '../variables/color' as clr;
@use '../variables/fonts' as fnt;

.skills {
  background-color: clr.$blue-light;
  height: 50vh;
  display: flex;
  flex-direction: column;
}
.skill-heading {
  font-family: fnt.$font-heading;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.skill {
  display: flex;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
    gap: 2rem;
  }
  &-title {
    font-family: fnt.$font-text;
    font-size: 2rem;
  }
  &-icon {
    font-size: 2rem;
  }
}
